{% extends 'base/base_main.html' %}

{% block title %} Home {% endblock title %}</title>

{% block context%}
			<section class="fondo_page">
				<article class="back_slide">
					<div id="back_image">
						<img src="static/images/oportunidad.jpg">
					</div>
					<div class="aside_main">
						<div><h1>Elija  su  Llave</h1></div>
						<div>
							<img src="static/images/hoy.jpg">
						</div>
						<div>
							<a href="#" onclick="empleo()"><img src="static/images/key1.jpg"></a>
						</div>
						<div>
							<a href="#" onclick="propio()"><img src="static/images/key2.jpg"></a>
						</div>
						<div>
							<a href="#" onclick="finanza()"><img src="static/images/key3.jpg"></a>
						</div>
						<div>
							<a href="{% url 'visitantes:evn_panel' %}"><img src="static/images/key4.jpg"></a>
						</div>

					</div>
				</article>
			</section>
{% endblock context %}

{% block js %}
	<script type="text/javascript">

	function empleo(){
		alert("Sobresaturado..!!");
	}
		function propio(){
		alert("No tenemos disponible..!!");
	}
		function finanza(){
		alert("Seguir un curso de finanzas..!!");
	}
	</script>
{% endblock js %}
