{% extends 'base/base_main.html' %}

{% block title %} Home {% endblock title %}</title>

{% block context%}
			<section class="fondo_page">
				<div class="back_titulo"><h1>Propuesta para ser dueño corporativo de una gran empresa</h1></div>
				<article class="back_slide">
					<div class="form_columns">
						<p class="info_columna">
							<br><br><span class="back_sub-titulo">OBJETIVO</span><br><br>
							     Un soporte económico en nuestra etapa joven de la vida, sería fabuloso y nos ayudaría a tomar la vida de una manera más relajada, disfrutando del tiempo con quienes más amamos y haciendo lo que más queremos.<br><br>
							En cuanto a los que ya vamos,  para más grandecitos,  tener ese respaldo económico, obviamente sería estupendo. (Antes de llegar al retiro.. retiro de qué?).

							<br><br><span class="back_sub-titulo">MISION</span><br><br>
							Apoyarnos mutuamente todos los migrante que después de demostrar que somos capaces de cambiar los destinos económicos  incluso de un país, podemos cambiar el nuestro y el de los nuestros, para mejores días, reconociendo que la unión nos hace aún más fuertes.

							<br><br><span class="back_sub-titulo">VISION</span><br><br>
							Una vez mas ser los protagonistas de nuestro propio desarrollo con la generación de un verdadero soporte económico, para nuestras nuevas generaciones ser una fuente de trabajo, un ejemplo y obviamente el desarrollo de una patria a la que amamos además de mantenerla apegada a la naturaleza.

						</p>
						<p class="info_columna">
									<br><br><span class="back_sub-titulo">EL ÉXITO DE MIS ERRORES</span><br><br>
							La propuesta es: Que Usted sea socio accionista de una empresa de los migrantes ecuatorianos, en Latinoamérica.<br><br>
							Soy el migrante ecuatoriano, Luis Salinas que después de hacer estudios y hacer laboratorio por más de 10 años referentes al proyecto objetivo de esta empresa, y, haber superado “quinientos diez y ocho” errores; estoy formando la “Corporación de Ecuatorianos Migrantes” denominada “CORPECUMIG  S.A.”, donde usted, yo y todos los socios de la compañía tendremos voz y voto, para el correcto destino de esta empresa con una administración correctamente canalizada,  para tal efecto tendremos en tiempo real y gracias a la tecnología el conocimiento de sus procesos operativos, logísticos, administrativos y financieros.
							<br><br><span class="back_sub-titulo">COMO SER ACCIONISTA?</span><br><br>
							a) Asistir a la conferencia que se otorgará en vuestro lugar de residencia, para dar una información clara, precisa y concreta.<br>
							b) Llenar la aplicación que se entregue en dicha reunión o en línea entrando a <a href="Registrate">"Quiero ser socio"</a>  y cumplir con los requisitos que ahí se detalla, para el posterior depósito del valor de las acciones en un banco ecuatoriano autorizado por las leyes ecuatorianas.

						</p>
						<p class="info_columna">
									<br><br><span class="back_sub-titulo">CUAL ES EL BENEFICIO?</span><br><br>
							A partir del 2do año obtendrá las utilidades correspondientes a cada acción adquirida.
							Aquí no queremos mentir, será nuestra empresa y debemos saber que el primer año estará destinado a la fase de construcción del proyecto, además usted será parte de la asmablea de socios donde se definirá el preiodod para las utilidades.

							<br><br><span class="back_sub-titulo">CUAL ES EL PROYECTO?</span><br><br>
							El proyecto está orientado directamente al turismo, pero le invitamos a participar de nuestros simposios donde exhibiremos el proyecto, paraqué usted saque sus propias conclusiones.
							 Recuerde, asista, no permita que le digan otras personas, podría llegarle información tergiversada.  Usted puede informarse, por usted mismo además de obtener respuestas directas a sus inquietudes.
							 <br><br>
							No suponga que la oportunidad golpeará su puerta; dos veces.
							<br><br>
							Después de 5 años estarás arrepentido, después de 10, estará decepcionado de no haber tomado una decisión.
						</p>
					</div>
				</article>
			</section>
{% endblock context %}
